a {
  color: #394ba1;
}
h2 {
  padding: 25px;
}
#main {
  background: #eeeeee;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  margin: 25px;
}
#title {
  text-align: center;
  background: #eeeeee;
  padding: 25px 25px 0px 25px;
}
#img-div {
  padding: 25px;
  max-height: 450px;
  text-align: center;
  background: #ffffff;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-caption {
  font-size: 12px;
  padding: 10px;
}
#tribute-info {
  background: #eeeeee;
  width: 800px;
  display: block;
  margin: auto;
  line-height: 200%;
}
#readmore {
  background: #eeeeee;
  text-align: center;
  padding: 25px;
}
